@charset "utf-8";
/* @import "normalize"; */
/* @import "compass"; */

/* rem (root em) を使用して文字のサイズを設定 */
$root-size: 1em;
$normal-size: 1rem;
$large-size:  $normal-size * 1.5;
$Large-size:  $normal-size * 2;

/* 行取りに使う行の高さ */
$line-height:        $normal-size * 2;
$half-line-height:   $line-height / 2;
$double-line-height: $line-height * 2;

/* 背景と文字のコントラストを調整 */
$forground-color:  lighten(black, 25%);
$background-color: darken(white, 3%);

/* 色のテーマ */
$main-color:     lighten(blue, 25%);
$accent-color:   darken(green, 10%);

html{
  font-size: $root-size;
}

body{
  color:            $forground-color;
  background-color: $background-color;

  font-size: $normal-size;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p{
  margin: 0;
  font-size:   $normal-size;
  line-height: $line-height;
  text-indent: 1rem;
  text-align:  justify;
  margin-top:    $half-line-height;
  margin-bottom: $half-line-height;
}

b{
  color: $accent-color;
  font-weight: normal;
}

@mixin header{
  font-size:   $normal-size;
  line-height: $line-height;

  margin-top:    $half-line-height;
  margin-bottom: $half-line-height;
}

h4:before{
  content: "○"
}

h3{
  @include header;
  font-weight: 700;
}

h3:before{
  content: ""
}

h2{
  @include header;
  font-size:   $large-size;

  border-left: 0.4rem solid $main-color;
  padding-left: 1rem - 0.4rem;
}

h1{
  @include header;
  line-height: $double-line-height;
  font-size:   $Large-size;
  border-bottom: 0.25rem solid $main-color;
  margin-bottom: $half-line-height - 0.25rem;
  padding-left: 1rem;
}

header{
  height: 5rem;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
