@charset "utf-8";
/* @import "normalize"; */
/* @import "compass"; */

/* rem (root em) を使用して文字のサイズを設定 */
$normal-size: 1rem;
$large-size:  $normal-size * 1.5;
$Large-size:  $normal-size * 2;

/* 行取りに使う行の高さ */
$line-height:        $normal-size * 2;
$half-line-height:   $line-height / 2;
$double-line-height: $line-height * 2;

/* 背景と文字のコントラストを調整 */
$forground-color:  lighten(black, 25%);
$background-color: darken(white, 3%);

/* 色のテーマ */
$main-color:     lighten(blue, 25%);
$accent-color:   darken(green, 10%);

html{
  font-size: 1em;
}

body{
  color:            $forground-color;
  background-color: $background-color;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p{
  margin: 0;
  font-size:   $normal-size;
  line-height: $line-height;
  text-indent: 1rem;
  text-align:  justify;
  margin-top:    $half-line-height;
  margin-bottom: $half-line-height;
}

b{
  color: $accent-color;
  font-weight: normal;
}

@mixin header{
  font-size:   $normal-size;
  line-height: $line-height;

  margin-top:    $half-line-height;
  margin-bottom: $half-line-height;
}

h3{
  @include header;
}

h2{
  @include header;
  font-size:   $large-size;

  border-left: 0.4rem solid $main-color;
  padding-left: 1rem - 0.4rem;
}

h1{
  @include header;
  line-height: $double-line-height;
  font-size:   $Large-size;
  border-bottom: 0.25rem solid $main-color;
  margin-bottom: $half-line-height - 0.25rem;
  padding-left: 1rem;
}

header{
  height: 5rem;
}

/* nav{
   width: 20%;
   float: left;
   }

   article{
   width: 40rem;
   float: left;
   }

   footer{
   clear: both;
   } */

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
   a {
   border: 1px solid white;
   border-radius: 3px;
   padding: 0.75em 0.7em;
   color: white;
   text-decoration: none;
   transition: color 0.1s linear;
   &:hover {
   background: rgba(0,0,0,0.2);
   color: white;
   transition: all 0.15s linear;
   }
   }
   }

   .welcome {
   -webkit-animation-name: welcome;
   -webkit-animation-duration: .9s;
   }

   @-webkit-keyframes welcome {
   from {
   -webkit-transform: scale(0);
   opacity: 0;
   }
   50% {
   -webkit-transform: scale(0);
   opacity: 0;
   }
   82.5% {
   -webkit-transform: scale(1.03);
   -webkit-animation-timing-function: ease-out;
   opacity: 1;
   }
   to {
   -webkit-transform: scale(1);
   }
   }
*/
